In [1]:
from monetdbe import connect, Timestamp
from datetime import datetime

In [2]:
con = connect(autocommit=True)  # open an in-memory database

In [3]:
cur = con.execute("create table example(d timestamp, i int, f float)")

In [4]:
_ = cur.executemany("insert into example(d, i, f) values (?, ?, ?)", (
    (datetime.now(), 10, 0.1),
    (Timestamp(2004, 2, 14, 7, 15, 0, 510241), 20, 0.2),
))

In [5]:
_ = cur.execute("select * from example")

In [6]:
cur.fetchall()

[(datetime.datetime(2020, 6, 29, 15, 40, 35, 605000), 10, 0.1),
 (datetime.datetime(2004, 2, 14, 7, 15, 0, 510000), 20, 0.2)]

In [13]:
_ = cur.execute("select * from example")

In [14]:
array = cur.fetchdf()

In [17]:
tuple(array['d'])

(Timestamp('1970-01-01 02:24:39.017219613'),
 Timestamp('1817-02-23 09:10:54.898455133'))